<div class="navbar-header" th:fragment="header">
      <a class="navbar-brand" href="/" th:href="@{/}">Home</a>
      <a class="navbar-brand" href="/request/mine" th:href="@{/request/mine}">Mijn aanvragen</a>
      <!--/* 
      <a class="navbar-brand" href="/myCalculations" th:href="@{/myCalculations}">Mijn berekeningen</a>
      <a class="navbar-brand" href="/newIncident" th:href="@{/newIncident}">Incident / service</a>
       */-->
      <a class="navbar-brand" href="/logout" th:href="@{/logout}">Uitloggen</a>
</div>
            
<div class="navbar-header" th:fragment="header-new-user">
      <a class="navbar-brand" href="/login" th:href="@{/login}">Login</a>
</div>
