<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title = 'Beheer middleware')" />
	<body>
		<div class="wrapper">
 			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		        <div th:replace="fragments/navbar-header :: header"></div>
	        </nav>
			<div class="sidebar" style="float: left">
				<ul th:replace="fragments/navbar-sidebar :: menu"></ul>
			</div>
					<div class="container" style="float: left"> 
				
						<h1>Beheer middleware</h1>
						<table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<tr th:each="middleware, iStat : ${allMiddleware}" >
							<td th:text="${middleware.name}"/>
						</tr>
						</table>
	 				</div>
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
      	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	</body>
</html>
