<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title = 'Bewerk mijn aanvraag')" />
	<body>
		<div id="wrapper">
			<ul th:replace="fragments/navbar-sidebar :: menu"></ul>
			<div id="page-wrapper">
				<div class="row">
				<div id="navbar-wrapper" class="collapse navbar-collapse">
	 		
		 			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
				        <div th:replace="fragments/navbar-header :: header"></div>
			        </nav>   <!-- /.navbar-static-top -->
			        </div>
		        </div>			
				<div class="row">
					<div id="navbar" class="collapse navbar-collapse">
				
			
					<div class="col-lg-12">
						<h1 class="h3 mb-2 text-gray-800">Bewerk mijn aanvraag</h1>
						<table>
							<tr>
								<th>Titel</th>								
								<td th:text="${request.title == null ? request.applicationName : request.title}"/>
							</tr>
							<tr>
								<th>Opgepakt door</th>
								<td th:text="${request.employee}"/>
							</tr>
							<tr>
								<th>OToD-projectnaam</th>
								<td th:text="${request.projectName}"/>
							</tr>
							<tr>
								<th>Datum van inzending</th>
								<td th:text="${request.requestDate}"/>
							</tr>
							<tr>
								<th>Gewenste opleverdatum</th>
								<td th:text="${request.desirableDeliveryDate}"/>
							</tr>
							<tr>
								<th>Opgeleverd</th>
								<td th:text="${request.deliveryDate}"/>
							</tr>
							<tr>
								<th>Naam serviceaanvrager</th>
								<td th:text="${request.nameServiceRequester}"/>
							</tr>
							<tr>
								<th>Naam budgethouder</th>
								<td th:text="${request.nameBudgetOwner}"/>
							</tr>
							<tr>
								<th>Getekend contract</th>
								<td th:text="${request.signedContract}"/>
							</tr>
							<tr>
								<th>Opgepakt door</th>
								<td th:text="${request.signedContract}"/>
							</tr>
						</table>
						<form method="post" action="edit">
						<input type="hidden" name="id" value="${request.id}" />
						<input type="submit" value="Bewerk" />
						</form>
					</div>
					<!-- /.col-lg-12 -->
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /#page-wrapper -->
	
		</div>
	
	
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins)
	    <script src="../../../resources/js/jquery-1.11.0.min.js"
	        data-th-href="@{/resources/js/jquery-1.11.0.min.js}"></script> -->
	
		<!-- Include all compiled plugins (below), or include individual files as needed
	    <script src="../../../resources/js/bootstrap-3.1.1.min.js"
	        data-th-href="@{/resources/js/bootstrap-3.1.1.min.js}"></script> -->
	
		<!-- Core Scripts - Include with every page
	    <script src="../../../resources/js/plugins/metisMenu/jquery.metisMenu.js"
	        data-th-href="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script> -->
	
		<!-- SB Admin Scripts - Include with every page
	    <script src="../../../resources/js/sb-admin.js"
	        data-th-href="@{/resources/js/sb-admin.js}"></script> -->
	 </body>
</html>
