<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title = 'Bewerk aanvraag')" />
	<body>
 			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		        <div th:replace="fragments/navbar-header :: header"></div>
	        </nav>
			<div class="sidebar" style="float: left">
				<ul th:replace="fragments/navbar-sidebar :: menu"></ul>
			</div>
					<div class="container"> 
				
			
						<h1>Reset</h1>

    <label >Email</label>
    <input id="email" name="email" type="email" value="" />
    <button type="submit" onclick="resetPass()">reset</button>

<a th:href="@{/registration.html}" >
    registration
</a>
<a th:href="@{/login}">login</a>

<script src="../js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
<script th:inline="javascript">
var serverContext = [[@{/}]];
function resetPass(){
    var email = $("#email").val();
    $.post(serverContext + "user/resetPassword2",{email: email} ,
      function(data){
    	console.log("Posting to user/resetPassword2, redirecting to login");
    	console.log("Message: " + data.message);
          window.location.href = 
           serverContext + "login?message=" + data.message;
    })
    .fail(function(data) {
    	if(data.responseJSON.error.indexOf("MailError") > -1)
        {
    		console.log("Something went wrong in email, redirecting to email error page: " + data.responseJSON.error)
            window.location.href = serverContext + "emailError.html";
        }
        else{
        	console.log("Something else went wrong, redirecting to login page: " + data.responseJSON.message)
            window.location.href = 
              serverContext + "login?message=" + data.responseJSON.message;
        }
    });
}

</script>
						</div>
	
		 </body>
</html>
