<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nieuwe disk</title>
<!-- 
<link rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen"
	th:href="@{/resources/css/core.css}" />
<script src="../resources/js/jquery.min.js"
	th:src="@{/js/jquery.min.js}"></script>
<script src="../resources/js/bootstrap-3.1.1.min.js"
	th:src="@{/js/bootstrap-3.1.1.min.js}"></script> -->
	<link rel="stylesheet" type="text/css" href="../static/css/sb-admin-2.css" th:href="@{/resources/css/sb-admin-2.css}"/>
</head>
<body>
	<div id="wrapper">
	<!-- 
        <nav data-th-fragment="top-nav" class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
	        <div th:replace="fragments/navbar-header :: header"></div>
        </nav>  -->    <!-- /.navbar-static-top -->
        <!-- 
        <ul th:replace="fragments/navbar-header :: menu"></ul>
        <ul th:replace="fragments/navbar-header :: menu2"></ul>
         -->
  		<div id="sidebar">
	        <nav data-th-fragment="vert-nav-admin" class="navbar-default navbar-static-side" >
	            <div class="sidebar-collapse">
        			<ul th:replace="fragments/navbar-sidebar :: menu"></ul>
	            </div>    <!-- /.sidebar-collapse -->
	        </nav>        <!-- /.navbar-static-side -->
        </div>
        
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1>Nieuwe disk</h1>
					<!-- 
					
					Schijf-id
					Filesystem
					mount-pad
					Pool-naam
					schijfgrootte
					volumegroep
					volumenaam
					OBJID
					status
					verwijderdatum
					 -->
					<form action="save" method="post" th:object="${disk}"
						th:action="@{/disk/create}">
						<table>
							<!-- 
	<tr>
	<td>Computernaam</td>
	<td><input type="text" th:field="*{computerName}"/></td>
	</tr>
	-->
							<tr>
								<th>Computernaam</th>
								<td><select th:field="*{server}">
										<option th:each="server : ${servers}" th:value="${server.id}"
											th:text="${server.name}" />
								</select>
							</tr>
							<tr>
								<td>Schijf-id</td>
								<td><input type="text" th:field="*{diskId}" /></td>
							</tr>
							<tr>
								<td>Filesysteem</td>
								<td><input type="text" th:field="*{fileSystem}"></td>
							</tr>
							<tr>
								<td>Mountpad</td>
								<td><input type="text" th:field="*{mountPoint}" /></td>
							</tr>
							<tr>
								<td>Poolnaam</td>
								<td><input type="text" th:field="*{poolName}" /></td>
							</tr>
							<tr>
								<td>Schijfgrootte (MB)</td>
								<td><input type="text" th:field="*{size}" /></td>
							</tr>
							<tr>
								<td>Volumegroep</td>
								<td><input type="text" th:field="*{volumeGroup}" /></td>
							</tr>
							<tr>
								<td>Volumenaam</td>
								<td><input type="text" th:field="*{volumeName}" /></td>
							</tr>
							<tr>
								<td>OBJID</td>
								<td><input type="text" th:field="*{objId}" /></td>
							</tr>
							<tr>
								<td>Status</td>
								<td><select th:field="*{status}">
										<!-- 
			<option th:each="status : ${T(nl.uwv.otod.otod_portal.model.DiskStatus).value()}" th:value="${status}" th:text="${status.text}"/> -->
										<option value=""></option>
										<option value="1">Operational</option>
										<option value="0">Decommissioned</option>
								</select></td>
							</tr>
							<tr>
								<td>Verwijderdatum</td>
								<td><input type="datetime-local" class="form-control"
									th:field="*{removalDate}" /></td>
							</tr>
							<tr>
								<td><Input type="submit" /></td>
							</tr>
						</table>
						
					</form>

				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins)
    <script src="../../../resources/js/jquery-1.11.0.min.js"
        data-th-href="@{/resources/js/jquery-1.11.0.min.js}"></script> -->

	<!-- Include all compiled plugins (below), or include individual files as needed
    <script src="../../../resources/js/bootstrap-3.1.1.min.js"
        data-th-href="@{/resources/js/bootstrap-3.1.1.min.js}"></script> -->

	<!-- Core Scripts - Include with every page
    <script src="../../../resources/js/plugins/metisMenu/jquery.metisMenu.js"
        data-th-href="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script> -->

	<!-- SB Admin Scripts - Include with every page
    <script src="../../../resources/js/sb-admin.js"
        data-th-href="@{/resources/js/sb-admin.js}"></script> -->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/moment/moment.min.js}"></script>
	<script
		th:src="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>

	<script>
		$.fn.datetimepicker.Constructor.Default = $.extend({},
				$.fn.datetimepicker.Constructor.Default, {
					icons : {
						time : 'far fa-clock',
						date : 'far fa-calendar',
						up : 'fas fa-arrow-up',
						down : 'fas fa-arrow-down',
						previous : 'fas fa-chevron-left',
						next : 'fas fa-chevron-right',
						today : 'far fa-calendar-check-o',
						clear : 'far fa-trash',
						close : 'far fa-times'
					}
				});

		$('#datetimepicker1').datetimepicker({
			format : 'DD/MM/YYYY h:mm A'
		});
	</script>
</body>
</html>
