<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title = 'Bewerk aanvraag')" />
	<body>
		<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
	        <div th:replace="fragments/navbar-header :: header"></div>
        </nav>
		<div class="sidebar" style="float: left">
			<ul th:replace="fragments/navbar-sidebar :: menu"></ul>
		</div>
		<div class="container"> 
			<h1 class="h3 mb-2 text-gray-800">Wachtwoord succesvol gewijzigd</h1>
		</div>			
	</body>
</html>
			
