<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title = 'Bewerk aanvraag')" />
	<body>
		<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
	        <div th:replace="fragments/navbar-header :: header"></div>
        </nav>
		<div class="sidebar" style="float: left">
			<ul th:replace="fragments/navbar-sidebar :: menu"></ul>
		</div>
		<div class="container"> 
			<h1 class="h3 mb-2 text-gray-800">Wijzig wachtwoord</h1>
			<form method="post" th:object="${user}" th:action="@{/user/updatePassword}" enctype="multipart/form-data" name="userForm" id="userForm">
				<table>
					<tr>
						<th>Nieuw wachtwoord</th>								
						<td><input type="text" th:field="*{password1}"/></td>
					</tr>
					<tr>
						<th>Herhaal nieuw wachtwoord</th>								
						<td><input type="text" th:field="*{password2}"/></td>
					</tr>
				</table>
				<input type="submit" value="Opslaan" />
			</form>
		</div>
	</body>
</html>
