<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head(title = 'Beschikbare ip-adressen')" />
	<body>
		<div class="wrapper">
 			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		        <div th:replace="fragments/navbar-header :: header"></div>
	        </nav>
			<div class="sidebar" style="float: left">
				<ul th:replace="fragments/navbar-sidebar :: menu"></ul>
			</div>
					<div class="container"> 
				
						<h1 class="h3 mb-2 text-gray-800">Beschikbare IP-adressen</h1>
		                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					    <thead>
						        <tr>
						            <th th:text="IP-adres" />
						        </tr>
						    </thead>
						    <tbody>
						        <tr th:each="ipAddress, iStat : ${ipAddressPage.content}"
						            th:style="${iStat.odd}? 'font-weight: bold;'"
						            th:alt-title="${iStat.even}? 'even' : 'odd'">
						            <td th:text="${ipAddress}" />
						        </tr>
						    </tbody>
						</table>
						<div th:if="${ipAddressPage.totalPages > 0}" class="pagination"
						    th:each="pageNumber : ${pageNumbers}">
						    <a th:href="@{/availableIpAddresses/paged(size=${ipAddressPage.size}, page=${pageNumber})}"
						        th:text=${pageNumber}
						        th:class="${pageNumber==ipAddressPage.number + 1} ? active"></a>
						</div>
					</div>
	</body>    
</html>
